<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ deviceCore.deviceName }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentActions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <button ion-button color="dark" full ion-fixed class="device-state" *ngIf="deviceCore.device" [ngClass]="{'online': deviceCore.isAvailable}"
    (click)="showInfo()">
    {{ (deviceCore.isUpdating ? 'DEVICE_DETAIL.UPDATING' : !deviceCore.isConnected ? 'DEVICE_DETAIL.OFFLINE' : '') | translate }}
  </button>
  <!-- <img class="banner-image" jy-lazy-load [source]="deviceCore.banner?.uri" placeholder="assets/img/model_image_banner_placeholder.png"> -->
  <div class="main-content">
    <div *ngIf="!viewState.showDetails">
      <div *ngFor="let m of deviceCore.primaryControllers; let i = index;" class="sub-content">
        <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
          [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="i == 0"></ui-component>
      </div>
      <div *ngFor="let m of deviceCore.primaryControllers; let i = index;" class="image-control">
        <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
          [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="i == 1"></ui-component>
      </div>
    </div>
    <ion-row class="group-control" [ngClass]="{'off': !viewState.showDetails}">
      <ion-col col-3 class="toggle-items none-padding">
        <div *ngFor="let m of deviceCore.primaryControllers; let i = index;">
          <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
            [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="i == 2">
          </ui-component>
        </div>
      </ion-col>
      <ion-col col-3 class="toggle-items none-padding">
        <div *ngFor="let m of deviceCore.primaryControllers; let i = index;">
          <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
            [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="i == 3">
          </ui-component>
        </div>
      </ion-col>
      <ion-col col-3 class="toggle-items none-padding">
        <div *ngFor="let m of deviceCore.primaryControllers; let i = index;">
          <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
            [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="i == 4">
          </ui-component>
        </div>
      </ion-col>
      <ion-col col-3 class="toggle-items none-padding">
        <div class="more-button">
          <ion-icon name="ios-more" (click)="toggleDetails()" [ngClass]="{'text-on-status': viewState.showDetails}"></ion-icon>
        </div>
        <div class="more-block">
          <span class="title-text" [ngClass]="{'text-on-status': viewState.showDetails}" (click)="toggleDetails()">{{ moreControl }}</span>
        </div>
      </ion-col>
    </ion-row>
    <div *ngFor="let m of deviceCore.primaryControllers; let i = index;">
      <!-- <div class="control-item-divider" *ngIf="isVisable(m) && i > 4"></div> -->
      <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
        [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="isVisable(m) && i > 4"></ui-component>
    </div>
    <div class="sub-content2" *ngIf="viewState.showDetails">
      <div *ngFor="let m of deviceCore.secondaryControllers; let i = index;">
        <ui-component (exoChange)="deviceCore.send($event)" [(ngModel)]="deviceCore.status"
          [disabled]="!deviceCore.isAvailable" [model]="m" color="primary" *ngIf="isVisable(m)"></ui-component>
        <div class="control-item-divider" *ngIf="i < deviceCore.secondaryControllers.length - 1 && isVisable(m)"></div>
      </div>
    </div>
  </div>
</ion-content>