<ion-header no-border>
  <ion-toolbar color="white">
    <ion-title>{{ 'DEVICE_CREATE.ADD_DEVICE' | translate: { value: themeService.productName } }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="main">
      <h1 ion-text color="dark" align="center">{{ 'DEVICE_CREATE.CONNECT_TO_DEVICE' | translate }}</h1>
      <img class="hint" src="assets/img/phone_graphic.png">
      <p align="center" [innerHTML]="'DEVICE_CREATE.HOW_TO_BEGIN' | translate: { productName: themeService.productName, wifiName: themeService.wifiName }"></p>
      <img src="assets/img/go_setting.png" style="width : 50% ; height : 50%" (click)="nativeSettings.open('wifi')">
      <p align="center" [innerHTML]="'DEVICE_CREATE.AFTER_SETTINGS' | translate: { productName: (appName | async) }"></p>
      <img src="assets/img/localmode.png" style="width : 50% ; height : 50%" *ngIf="canLocalMode && canContinue"
        (click)="onLocalMode()">
      <img src="assets/img/broadcast.png" style="width : 50% ; height : 50%" *ngIf="canBroadcast && canContinue"
        (click)="onBroadcast()">
      <img src="assets/img/local_broadcast.png" style="width : 50% ; height : 50%" *ngIf="canLocalBroadcast && canContinue"
        (click)="onLocalBroadcast()">
    </div>
    <div>
      <button ion-button color="secondary" class="bottom-button full-button" [disabled]="!canContinue || !canCloudMode"
        (click)="onNext()" full>{{ 'DEVICE_CREATE.CLOUD_MODE' | translate }}</button>
    </div>
  </div>
  <extra-page-space></extra-page-space>
</ion-content>