group-detail {
  display: flex;
  flex-direction: column;
  .control-content {
    border-radius: 0;
    padding: 20px;
    width: 100%;
    color: color($colors, dark);
  }
  .control-item-divider {
    border-bottom: 1px solid color($colors, dark);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
