<div class="popit-control-buttons">
  <ion-row align-items-center>
    <ion-col col-2 class="none-padding">
      <div>
        <ion-icon [name]="icon"></ion-icon>
        <span class="button-group-title">{{ title | translate }}</span>
      </div>
    </ion-col>
    <ion-col col-10 class="none-padding">
      <button (click)="onButtonClicked(button.value)" [disabled]="disabled || state.disableState" [ngClass]="{'control-item-active': state.currentValueItem.value === button.value}"
        [ngStyle]="{ 'max-width': '100%' }" *ngFor="let button of state.buttons" class="control-button" clear
        ion-button round>
        <span *ngIf="button.text != ''" [ngClass]="{'text-off-status': !disabled && state.disableState && (state.currentValueItem.value === button.value)}">{{
          button.text | translate }}</span>
        <ion-icon *ngIf="button.icon" [name]="button.icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</div>